<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YouTubeShareExt.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>youtubeExample.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E98527061BB397070094FD75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E985271A1BB397080094FD75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E98527251BB397080094FD75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9882B621C4CC91F00696726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9882B811C4CCE8B00696726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9882B931C4CDC3100696726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9882BA51C4CDCAF00696726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F95A5E1C4CC5E8009E5740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
